@font-face {
    font-family: 'Bagnard';
    src: url("../../brand/fonts/Bagnard/Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/Thin%20Italic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/ExtraLight%20Italic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/Light%20Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/Medium%20Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/SemiBold%20Italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/Bold%20Italic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/ExtraBold%20Italic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url("../../brand/fonts/Public%20Sans/Black%20Italic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url("../../brand/fonts/DM%20Mono/Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url("../../brand/fonts/DM%20Mono/Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.content {
  font-family: "Public Sans", Helvetica, ui-sans-serif, system-ui, sans-serif;
}
h1, .content h1, .content h2, .content h3 {
  font-family: "Bagnard", "Georgia", ui-serif, serif;
  font-weight: bold;
  padding-top: 0.5em;
  border: none;
}
.pg-home h3 {
  font-weight: 900;
}

:root {
  --primary-hue: 40.42deg;
  --primary-saturation: 100%;
  --primary-lightness: 71.76%;
  --hx-font-sans: "Public Sans", Helvetica, ui-sans-serif, system-ui, sans-serif;
}

:root:has(body.recommended-privacy-tools), body.privacy-guides .hextra-feature-grid a[href*="tools"] {
  --primary-hue: 200deg;
  --primary-saturation: 37.75%;
  --primary-lightness: 70.39%;
}

:root:has(body.privacy-wiki), body.privacy-guides .hextra-feature-grid a[href*="wiki"] {
  --primary-hue: 167.57deg;
  --primary-saturation: 97.13%;
  --primary-lightness: 40.98%;
}

:root:has(body.privacy-activism), body.privacy-guides .hextra-feature-grid a[href*="activism"] {
  --primary-hue: 5deg;
  --primary-saturation: 96.43%;
  --primary-lightness: 56.08%;
}

body.privacy-guides .hextra-feature-grid a[href*="youtube.com"] {
  --primary-hue: 259.83deg;
  --primary-saturation: 95.04%;
  --primary-lightness: 76.27%;
}

body.privacy-guides .hextra-feature-grid a[href*="discuss.privacyguides.net"] {
  --primary-hue: 33deg;
  --primary-saturation: 100%;
  --primary-lightness: 92.16%;
}

body.privacy-guides .hextra-feature-grid a[href*="news"] {
  --primary-hue: 217.97deg;
  --primary-saturation: 100%;
  --primary-lightness: 69.02%;
}

body.privacy-guides .hextra-feature-grid a.pg\:colored-card:has(img) {
  background: radial-gradient(ellipse at 50% 80%,hsl(var(--primary-hue)var(--primary-saturation)calc(var(--primary-lightness) + calc(calc(100% - var(--primary-lightness))/50)*16)),hsla(0,0%,100%,0));
}

.hextra-feature-grid img {
  filter: opacity(85%)
}

.hextra-nav-container {
  background: radial-gradient(ellipse at 50% 80%,var(--hx-color-primary-500),hsla(0,0%,100%,0));
  border-bottom: 1px solid var(--hx-color-primary-500);
}

.hextra-max-navbar-width a[href*="/about/donate/"] {
  color: white;
  background-color: var(--hx-color-primary-800);
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 16px;
  border-radius: var(--hx-radius-md);
}

p.pg\:image\:right img {
  float: right;
  width: 150px;
  margin-left: 1em;
}

.content :where(h1):not(:where([class~=not-prose],[class~=not-prose] *)),
.content :where(h2):not(:where([class~=not-prose],[class~=not-prose] *)),
.content :where(h3):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: var(--hx-color-primary-900)
}

.content :where(a):not(:where([class~=not-prose],
[class~=not-prose] *)) {
  color:var(--hx-color-primary-800);
  text-decoration: none;
}

.content :where(a):not(:where([class~=not-prose],
[class~=not-prose] *)):hover {
  text-decoration: underline;
}

a.footnote-ref {
  font-weight: 900;
}

.pg-card-logos img {
  width: 100px;
  padding: 16px;
}

.pg-unstyled-cards .hextra-card {
  border: none;
  box-shadow: none;
}

.pg-unstyled-cards .hextra-card:hover {
  background-color: inherit;
}
