@font-face {
    font-family: 'Bagnard';
    src: url("/brand/fonts/Bagnard/Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/Thin%20Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/ExtraLight%20Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/Light%20Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/Medium%20Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/SemiBold%20Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/Bold%20Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/ExtraBold%20Italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/brand/fonts/Public%20Sans/Black%20Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/brand/fonts/DM%20Mono/Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/brand/fonts/DM%20Mono/Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.content {
  font-family: "Public Sans", Helvetica, ui-sans-serif, system-ui, sans-serif;
}
h1, .content h1, .content h2, .content h3 {
  font-family: "Bagnard", "Georgia", ui-serif, serif;
  font-weight: bold;
  padding-top: 0.5em;
  border: none;
}
.pg-home h3 {
  font-weight: 900;
}

:root {
  --primary-hue: 40.42deg;
  --primary-saturation: 100%;
  --primary-lightness: 71.76%;
  --hx-font-sans: "Public Sans", Helvetica, ui-sans-serif, system-ui, sans-serif;
}

.content :where(a):not(:where([class~=not-prose],
[class~=not-prose] *)) {
  color:var(--hx-color-primary-800);
  text-decoration: none;
}

.content :where(a):not(:where([class~=not-prose],
[class~=not-prose] *)):hover {
  text-decoration: underline;
}

a.footnote-ref {
  font-weight: 900;
}

.pg-card-logos img {
width: 100px;
padding: 16px;
}
